body {
  font-family: "Lemon", cursive;
  letter-spacing: 3px;
}
.overlay {
  background-color: rgba(1, 22, 30, 0.5);
}
.our-img {
  background-image: url(../imgs/A-M.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.container {
  color: #fff;
  text-align: center;
  min-height: 100vh;
}

h1 {
  font-weight: normal;
  color: #d81159;
}
ul {
  padding: 0;
}
li {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 3rem;
}
#days {
  color: #d62828;
}
.seconds {
  color: #d62828;
}
#hours {
  color: #f77f00;
}
.minutes {
  color: #f77f00;
}
#minutes {
  color: #fcbf49;
}
.hours {
  color: #fcbf49;
}
#seconds {
  color: #eae2b7;
}
.days {
  color: #eae2b7;
}
